@import url(sections/header.css);
@import url(sections/hero.css);
@import url(sections/specials.css);
@import url(sections/chef.css);
@import url(sections/newsletter.css);
@import url(sections/footer.css);
:root {
    --color-title: #1f2e3d;
    --color-text: #55606d;
    --color-muted: #8a939b;
    --color-btn-dark: #101A24;
    --color-accent: #EA6D27;
    --primary-btn-color:  #101A24;
    --secondary-btn-color: #EA6D27;
    --background-color: #f7f7f7;
}

body {
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1400px; 
    margin: 0 auto;
    padding-inline: 20px;
    width: 100%;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}

img, picture, svg, video {
    display: block;    
    max-width: 100%;   
    height: auto;      
}

input, button, textarea, select {
    font: inherit;       
    color: inherit;
    background: none;
    border: none;
    outline: none;       
}

button {
    cursor: pointer;
    display: flex;      
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'David Libre', serif;
    min-height: 100vh;
    line-height: 1.5;
    background-color: #FFFFFF; 
    color: var(--primary-color); 
    
    /* Сглаживание шрифтов */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

button, 
input, 
textarea, 
select {
    font-family: inherit;
}

.btn{
    padding: 0.6em clamp(0.9em, 6vw, 1.8em);
    border-radius: 10px 2px 10px 2px;
    font-weight: 500;
    color: #fff;
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.1rem);
    white-space: nowrap;
    background-clip: padding-box;
    box-shadow:
    0 7px 15px rgba(10,16,73,0.18);
    transition:
    box-shadow 0.25s ease,
    filter 0.25s ease,
    transform 0.18s ease;
    cursor: pointer;
    transform: translateY(0);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.btn:hover{
    transform: translateY(-1px);
    filter: brightness(1.06);
    box-shadow:
    0 10px 20px rgba(10,16,73,0.20),
    0 0 20px rgba(255,255,255,0.08);
}

.btn:active{
    transform: translateY(1px);
    filter: brightness(0.97);
    box-shadow:
    0 5px 10px rgba(10,16,73,0.16),
    0 0 10px rgba(255,255,255,0.04);
}

.btn--primary{
    background-color: var(--primary-btn-color);
}

.btn--secondary{
    background-color: var(--secondary-btn-color);
}
@media (min-width: 768px){

    .hero{
        padding: 80px 0;
    }

    .hero__inner{
        gap: 60px;
    }

    .hero__content{
        gap: 40px;
    }

    .hero__title{
        font-size: clamp(48px, 6vw, 64px);
    }

    .hero__image-wrapper{
        max-width: 500px;
    }

    .hero__image{
        height: 500px;
    }

    .hero__socials{
        gap: 40px;
    }

    .hero__actions{
        gap: 35px;
    }

    .chef__content{
        gap: 40px;
    }

    .chef__list{
        gap: 30px;
    }

    .chef__actions{
        gap: 40px;
    }

    .specials__info{
        gap: 30px;
    }

    .specials__cards{
        gap: 100px;
        margin-top: 70px;
    }

    .specials__bottom{
        margin-top: 140px;
    }

    .specials__bottom-img{
        max-width: 420px;
    }

    .newsletter{
        padding: 90px 0;
    }

    .newsletter__inner{
        padding: 80px 40px;
        border-radius: 24px;
    }

    .newsletter__form{
        max-width: 600px;
    }

    .newsletter__title{
        font-size: clamp(36px, 5vw, 48px);
    }
     .footer{
        padding: 70px 0 35px;
    }

    .footer__inner{
        gap: 70px;
    }

    .footer__menu{
        gap: 100px;
    }

    .footer__bottom{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 992px){

    .container{
        max-width: 1200px;
        margin: 0 auto;
        padding-inline: 40px;
    }

    .burger{
        display: none;
    }

    .nav{
        position: static;
        width: auto;
        height: auto;
        background-color: transparent;
        display: block;
    }

    .nav__list{
        display: flex;
        gap: 45px;
    }

    .hero{
        padding: 100px 0;
    }

    .hero__inner{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 70px;
    }

    .hero__content{
        flex: 1;
        align-items: flex-start;
        text-align: left;
    }

    .hero__title{
        max-width: 500px;
    }

    .hero__text{
        max-width: 470px;
        margin: 0;
    }

    .hero__actions,
    .hero__socials{
        justify-content: flex-start;
    }

    .hero__image-wrapper{
        flex: 1;
        max-width: 520px;
    }

    .hero__decor{
        opacity: 0.25;
    }

    .specials{
        margin-top: 100px;
    }

    .specials__cards{
        grid-template-columns: repeat(2, 1fr);
        gap: 100px 80px;
        justify-items: center;
    }

    .specials__card{
        width: 100%;
        max-width: 320px;
    }

    .specials__card-text{
        max-width: 260px;
    }

    .specials__bottom{
        padding-top: 50px;
    }

    .chef__inner{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 60px;
    }

    .chef__content{
        align-items: flex-start;
        text-align: left;
    }

    .chef__list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 60px;
    }

    .newsletter__inner{
        gap: 40px;
        padding: 90px 50px;
    }

    .newsletter__form{
        max-width: 650px;
    }
}


/* =========================
LARGE DESKTOP
========================= */

@media (min-width: 1200px){

    .container{
        max-width: 1400px;
        padding-inline: 48px;
    }

    .hero{
        padding: 120px 0;
    }

    .hero__inner{
        gap: 100px;
    }

    .hero__title{
        font-size: clamp(56px, 5vw, 72px);
        max-width: 560px;
    }

    .hero__text{
        max-width: 500px;
        font-size: 19px;
    }

    .hero__image-wrapper{
        max-width: 540px;
    }
    .hero__socials{
        font-size: 25px;
        gap: 40px;
    }

    .specials__title{
        font-size: clamp(48px, 5vw, 64px);
    }

    .specials__cards{
        grid-template-columns: repeat(4, 1fr);
        gap: 50px;
    }

    .specials__card{
        max-width: 300px;
        min-height: 300px;
        padding: 70px 20px 30px;
        display: flex;
        flex-direction: column;
    }

    .specials__card-img{
        width: 130px;
    }

    .specials__bottom{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;
        padding-bottom: 100px;
    }

    .specials__bottom-img{
        flex: 1;
        max-width: 500px;
        margin: 0;
    }

    .specials__bottom-content{
        flex: 1;
        max-width: 480px;
        align-items: flex-start;
        text-align: left;
        margin-top: 0;
    }

    .specials__bottom-title{
        text-align: left;
    }

    .specials__bottom-text{
        max-width: 460px;
        margin: 0;
        text-align: left;
    }

    .specials__bottom-actions{
        justify-content: flex-start;
    }

    .chef{
        padding: 120px 0;
    }

    .chef__title{
        font-size: clamp(48px, 5vw, 64px);
    }

    .chef__text{
        max-width: 500px;
        font-size: 19px;
    }

    .newsletter{
        padding: 100px 0;
    }

    .newsletter__inner{
        max-width: 1280px;
        padding: 100px 60px;
    }

    .newsletter__title{
        max-width: 1000px;
        font-size: clamp(48px, 5vw, 62px);
    }

    .newsletter__form{
        max-width: 760px;
    }
    .footer{
        padding: 60px 0 40px;
    }

    .footer__inner{
        display: grid;
        grid-template-columns:
        minmax(300px, 600px)
        auto
        auto;
        align-items: start;
        gap: 100px;
    }

    .footer__menu{
        gap: 140px;
    }
    .footer__logo{
        width: 150px;
    }
    .footer__socials{
        gap: 30px;
    }
    .specials__bottom-decor--1{
        width: 130px;
        left: 50px;
    }

}