@import url(sections/header.css);
@import url(sections/hero.css);
@import url(sections/specials.css);
@import url(sections/chef.css);
:root {
    --primary-color: #1b2f42 ;
    --secondary-color:  #41464e;
    --primary-btn-color:  #101A24;
    --secondary-btn-color: #EA6D27;
}

body {
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1400px; 
    margin: 0 auto;
    padding-inline: 20px;
    width: 100%;
}


ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block; 
}

img, picture, svg, video {
    display: block;    
    max-width: 100%;   
    height: auto;      
}

input, button, textarea, select {
    font: inherit;       
    color: inherit;
    background: none;
    border: none;
    outline: none;       
}

button {
    cursor: pointer;
    display: flex;      
    align-items: center;
    justify-content: center;
}

body {
    font-family: 'David Libre', serif;
    min-height: 100vh;
    line-height: 1.5;
    background-color: #FFFFFF; 
    color: var(--primary-color); 
    
    /* Сглаживание шрифтов */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility; 
}

button, 
input, 
textarea, 
select {
    font-family: inherit;
}

.btn{
    padding: 0.6em clamp(0.9em, 6vw, 1.8em); 
    border-radius: 10px 2px 10px 2px;
    font-weight: 500;
    color: #fff;
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.1rem);

    box-shadow:
    0 7px 15px rgba(10, 16, 73, 0.2);

    white-space: nowrap;

    transition: 0.3s ease;
}

.btn--primary{
    background-color: var(--primary-btn-color);
}

.btn--secondary{
    background-color: var(--secondary-btn-color);
}


@media (min-width: 768px){

.hero {
    padding: 80px 0;
}
.hero__inner {
    gap: 60px;
}
.hero__content{
    gap: 40px;
}
.hero__image{
    max-width: 700px;
    height: clamp(250px, 40vw, 500px);
}
.hero__image-wrapper{
    width: 100%;
    max-width: 550px;
    max-height: 600px;
    margin: 0 auto;
    position: relative;
}
.hero__title {
    font-size: clamp(3rem, 5vw, 4rem);
}
.hero__decor {
    opacity: 0.20;
}
.hero__socials{ 
    gap: 40px; 
    margin-top: 10px; 
}
.hero__actions{
    gap: 35px;
}
 
}

@media (min-width: 992px){

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 60px;
}

.header{
    padding: 35px 0;
}

.burger{
    display: none;
}

.nav{
    position: static;
    width: auto;
    height: auto;
    background-color: transparent;
    display: block;
}

.nav__list{
    display: flex;
    flex-direction: row;
    gap: 45px;
}

.nav__link{
    font-size: 1.05rem;
}

.header__btn--primary{
    padding: 0.75em 1.5em;
}

.hero{
    padding: 90px 0;
}

.hero__inner{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
}

.hero__content{
    align-items: flex-start;
    text-align: left;
    gap: 42px;
    flex: 1;
}

.hero__title{
    font-size: clamp(2.8rem, 5vw, 3.6rem);

    max-width: 450px;

    line-height: 1.1;
}

.hero__text{
    max-width: 470px;
    width: 100%;
    margin: 0;
    font-size: 1.05rem;
    line-height: 1.8;
}

.hero__actions{
    justify-content: flex-start;
}

.hero__socials{
    justify-content: flex-start;
    gap: 30px;
    margin-top: 10px;
}

.hero__image-wrapper{
    flex: 1;
    max-width: 520px;
}

.hero__image{
    max-width: 100%;
    height: 500px;
    border-radius: 38px;
}

.hero__decor{
    opacity: 0.22;
}

.hero__decor--1{
    top: -45px;
    right: -70px;
}

.hero__decor--2{
    bottom: -60px;
    left: -80px;
}
.specials{
    margin-top: 100px;
}
.specials__title{
    letter-spacing: 2px;
    font-size: clamp(2rem, 4vw, 3rem);
}
.specials__text{
    max-width: 430px;
    font-size: clamp(1rem, 2vw, 1.2rem);
}
.specials__cards{
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    gap: 100px 150px;
    padding: 0 20px;
}
.specials__card{
    max-width: none;
    width: 320px;
    min-height: 320px;
}
.specials__card-image{
    position: absolute;
    top: clamp(-40px, -8vw, -50px);
}
.specials__card-title{
    opacity: 0.9;
}
.specials__card-text{
    width: clamp(220px, 50vw, 280px);
    font-size: clamp(1rem, 2vw, 1rem);
}
.specials__bottom{
    padding-top: 50px;
}
.specials__bottom-img{
    width: clamp(320px, 42vw, 420px);
    display: block;
    margin: 0 auto;
}

}

@media (min-width: 1200px){ 
.container{
    max-width: 1400px;
}
.hero { 
    padding: 120px 0; 
} 
.hero__title { 
    font-size: clamp(3.5rem, 5vw, 4rem);
    max-width: 600px; line-height: 1.15;
} 
.hero__text { 
    width: clamp(220px, 65vw, 500px); 
    font-size: clamp(1.2rem, 3vw, 1.2rem); 
    margin: 0; 
} 
.hero__inner{ 
    flex-direction: row; 
    align-items: center; 
    justify-content: center; 
    gap: 100px; 
} 
.hero__content{ 
    gap: 50px; 
    align-items: flex-start; 
    text-align: left; 
} 
.hero__socials{ 
    gap: 40px; 
    margin-top: 20px; 
} 
.hero__image { 
    max-width: 600px; 
    height: clamp(400px, 65vw, 500px);
} 
.container{ 
    padding-inline: 48px;
} 
.nav__link{
    font-size: 1.1rem;
}
.header__btn--primary{
    padding: 0.5em 1.3em;
}
.hero__actions{
    gap: 35px;
}
.hero__decor{
    opacity: 0.7;
}
.specials__bottom{
    padding-bottom: 100px;
}
.specials__card-text{
    width: clamp(180px, 40vw, 250px);
}
.specials__title{
    font-size: clamp(2.5rem, 4vw, 3.5rem);
    letter-spacing: 3px;
}
.specials__text{
    font-size: clamp(1.2rem, 3vw, 1.2rem);
}
.specials__bottom{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 150px;
    margin-top: 140px;
}

.specials__bottom-img{
    width: 100%;
    max-width: 620px;
    margin: 0;
    flex-shrink: 0;
}

.specials__bottom-img img{
    width: 100%;
    display: block;
}

.specials__bottom-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 40px;
    margin-top: 0;
    max-width: 500px;
}

.specials__bottom-title{
    font-size: 3.5rem;
    text-align: left;
    line-height: 1.2;
}

.specials__bottom-text{
    width: 100%;
    max-width: 460px;
    margin: 0;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.9;
}

.specials__bottom-actions{
    justify-content: flex-start;
    margin-top: 10px;
    gap: 40px;
}


}
@media (min-width: 1500px){
    .specials__cards{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.specials__bottom{
    padding-bottom: 150px;
}
.specials__card{
    max-width: 300px;
    min-height: 300px;
    padding:
    75px
    18px
    25px;
}
}