.header{
    padding: 30px 0 ;
}
.header__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.header__inner img{
    display: block;
    transform: translateY(-5px);
    width: clamp(110px, 30vw, 130px);
}

.nav{
    display: flex;
    position: fixed;
    top: 0;
    right: -100%; /* Спрятали за край экрана */
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}
.nav__list{
    list-style: none;
    text-align: center;
}
.nav.active {
    right: 0;
}
.header__actions{
    display: flex;
    gap: clamp(10px, 2vw, 15px);
    justify-content: center;
    align-items: center;
}
.header__btn--primary{
    padding: 0.6em clamp(0.9em, 4vw, 1.3em); 
    border-radius: 10px 2px 10px 2px;
    font-weight: 500;
    background-color: var(--secondary-btn-color);
    color: #fff;
    font-size: clamp(0.875rem, 1vw + 0.5rem, 1.1rem);
    box-shadow: 0 7px 15px rgba(234, 109, 39, 0.2);
}
.burger {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px; /* расстояние между полосками */
    padding: 5px;
}

.burger span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
